---
################################################################################
# NGINX                                                                        #
################################################################################
- name: Install Nginx
  apt:
    name: nginx
    state: present
    force: yes
    update_cache: yes

##############
## SSL keys ##
##############
- name: Check for existing dhparams.pem
  become: false
  delegate_to: localhost
  stat:
    path: "{{ playbook_dir }}/roles/nginx/files/dhparams.pem"
  register: result
  tags: [nginx, ssl]

- name: Copy dhparams.pem to /etc/nginx
  copy:
    src: ./files/dhparams.pem
    dest: /etc/nginx/dhparams.pem
  when: result.stat.exists
  tags: [nginx, ssl]

- name: Generate Diffie-Hellman parameters with the default size (4096 bits)
  openssl_dhparam:
    path: /etc/nginx/dhparams.pem
  when: not result.stat.exists
  tags: [nginx, ssl]

- name: Create key pair for the server
  openssl_privatekey:
    path: /etc/ssl/private/nginx-selfsigned.pem
    size: 2048
  tags: [nginx, ssl]

- name: Create certificate signing request
  openssl_csr:
    country_name: "{{ ssl.country_name }}"
    email_address: "{{ ssl.email_address }}"
    organization_name: "{{ ssl.organization_name }}"
    common_name: "{{ ssl.common_name }}"
    path: /etc/ssl/private/nginx-selfsigned.csr
    privatekey_path: /etc/ssl/private/nginx-selfsigned.pem
  tags: [nginx, ssl]

- name: Create self-signed certificate
  openssl_certificate:
    csr_path: /etc/ssl/private/nginx-selfsigned.csr
    path: /etc/ssl/certs/nginx-selfsigned.crt
    privatekey_path: /etc/ssl/private/nginx-selfsigned.pem
    provider: selfsigned
  tags: [nginx, ssl]

#####################
## Configure NGINX ##
#####################
- name: Copy nginx config files to /etc/nginx
  copy:
    src: ./files/{{ item }}
    dest: /etc/nginx/{{ item }}
  with_items:
    - mime.types
    - fastcgi.conf
    - fastcgi_params
  tags: [nginx]

- name: Copy scripts directory to /etc/nginx
  copy:
    src: ./files/scripts/
    dest: /etc/nginx/scripts/
  tags: [nginx]

- name: Copy globals directory to /etc/nginx
  copy:
    src: ./files/globals/
    dest: /etc/nginx/globals/
  tags: [nginx]

- name: Copy conf.d directory to /etc/nginx
  copy:
    src: ./files/conf.d/
    dest: /etc/nginx/conf.d/
  tags: [nginx]

- name: Create required directories for Nginx
  file:
    path: "{{ item }}"
    state: directory
  loop:
    - /etc/nginx/sites-available/
    - /etc/nginx/sites-enabled/
  tags: [nginx]

- name: Configure nginx.conf
  template:
    src: ./templates/nginx.conf.j2
    dest: /etc/nginx/nginx.conf
  tags: [nginx]

################################
## Configure vhosts for sites ##
################################
- name: Configure vhost for domains
  template:
    src: ./templates/vhost.conf.j2
    dest: "/etc/nginx/sites-available/{{ item.url }}"
  loop: "{{ sites }}"
  tags: [nginx]

- name: Enables new site
  file:
    src: "/etc/nginx/sites-available/{{ item.url }}"
    dest: "/etc/nginx/sites-enabled/{{ item.url }}"
    state: link
  loop: "{{ sites }}"
  notify: reload nginx
  tags: [nginx]

- name: Removes "default" site
  file:
    path: "/etc/nginx/conf.d/default.conf"
    state: absent
  notify: reload nginx
  tags: [nginx]
