---

- hosts: all
  become: true

  vars_files:
    - vars.yaml

  roles:
    - role: os
      tags: [os]

    - role: geerlingguy.memcached
      tags: [memcached]

    - role: php
      tags: [php]

    - role: nginx
      tags: [nginx]

    - role: certbot
      tags: [certbot]

    - role: wordpress
      tags: [wordpress]
