---
- hosts: all
  become: true

  roles:
    - role: os
      tags: [system]

    - role: php
      tags: [php]

    - role: nginx
      tags: [nginx]

    - role: certbot
      tags: [certbot]

    - role: wordpress
      tags: [wordpress]
