---
- hosts: all
  become: true

  vars_files:
    - vars.yaml

  roles:
    - role: os
      tags: [system]

    - role: php
      tags: [php]

    - role: nginx
      tags: [nginx]

    - role: certbot
      tags: [certbot]

    - role: wordpress
      tags: [wordpress]

    - role: vhosts
      tags: [vhosts]
