# Copy config to a file named vars.yaml and change to suit your own needs

################################################################################
# System                                                                       #
################################################################################
os:
  timezone: "Europe/London"
  packages:
    - brotli
    - fail2ban
    - git
    - memcached
    - mcrypt
    - mysql-client
    - net-tools
    - locate
    - sysstat
    - logrotate
  admin_user: walter

################################################################################
# Memcached configuration                                                      #
################################################################################
memcached_memory_limit: 256

################################################################################
# Certbot/letsencrypt                                                          #
################################################################################
ssl:
  country_name: "CH"
  email_address: "contact@spofibo.com"
  organization_name: "Spofibo"
  common_name: "spofibo.com"

certbot_cloudflare_api_token: ""

################################################################################
# PHP                                                                          #
################################################################################
php:
  active_version: 7.4
  available_versions: ["7.4", "8.0", "8.1"]
  upload_max_filesize: 64M
  post_max_size: 64M
  user_group: www-data

################################################################################
# Sites                                                                        #
################################################################################
env: prod

db:
  host: mydb.service.com
  port: 3306

##
# This can be removed if, for example, you dinamically generate it inside the
# inventory file.
##
sites:
  - name: alpha
    url: alpha.com
    restore:
      from_backup: false
    db:
      host: localhost
      port: 3306
      name: wp_1_db
      password: mock
      username: wp_1_u
    php:
      version: 7.4
    nginx:
      block_nginx_conf: false

  - name: beta
    url: beta.com
    restore:
      from_backup: true
      command: "ln -sfn /data/beta.com /var/www/beta.com",
    db:
      name: wp_2_db
      password: mock
      username: wp_2_u
    php:
      version: 8.0
    nginx:
      block_nginx_conf: false
      
  - name: gamma
    url: gamma.com
    restore:
      from_backup: true
      command: "ln -sfn /data/gamma.com /var/www/gamma.com",
    db:
      name: wp_3_db
      password: mock
      username: wp_3_u
    php:
      version: 8.1
      max_children: 6
      max_spare_servers: 6
      memory_limit: 256M
      min_spare_servers: 2
      start_servers: 4
    nginx:
      block_nginx_conf: true
