---
################################################################################
# WordPress Configuration                                                      #
################################################################################
- name: Check for WP-CLI
  stat:
    path: /usr/bin/wp
  register: wpcli
  tags: [wp-cli]

- name: Install WP-CLI
  get_url:
    url: https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
    dest: /usr/bin/wp
    mode: 0755
  when: not wpcli.stat.exists
  tags: [wp-cli]

- name: Install WP-CLI tab completions
  get_url:
    url: https://raw.githubusercontent.com/wp-cli/wp-cli/master/utils/wp-completion.bash
    dest: /etc/bash_completion.d
    mode: 0644
  when: not wpcli.stat.exists
  tags: [wp-cli]

- name: Create required directories for WordPress sites
  file:
    path: "/var/www/{{ item[0].url }}/{{ item[1] }}"
    state: directory
    owner: "{{ item[0].name }}"
    group: "{{ item[0].name }}"
    mode: "0750"
  with_nested:
    - "{{ sites }}"
    - ["www", "logs", "tmp"]
  tags: [wordpress]

- name: Download Wordpress
  command: >
    wp core download
    --allow-root --no-color --path='/var/www/{{ item.url }}/www'
  args:
    creates: "/var/www/{{ item.url }}/www/index.php"
  loop: "{{ sites }}"
  tags: [wordpress]

- name: Set up wp-config
  template:
    src: ./templates/wp-config.php.j2
    dest: "/var/www/{{ item.url }}/www/wp-config.php"
  loop: "{{ sites }}"
  tags: [wordpress, wp-config]

- name: Set ownership
  file:
    path: "/var/www/{{ item.url }}/www"
    state: directory
    recurse: yes
    owner: "{{ item.name }}"
    group: "{{ item.name }}"
  loop: "{{ sites }}"
  tags: [wordpress, permissions]

- name: Set permissions for directories
  shell: "/usr/bin/find /var/www/{{ item.url }}/www/ -type d -exec chmod 750 {} \\;"
  loop: "{{ sites }}"
  tags: [wordpress, permissions]

- name: Set permissions for files
  shell: "/usr/bin/find /var/www/{{ item.url }}/www/ -type f -exec chmod 640 {} \\;"
  loop: "{{ sites }}"
  tags: [wordpress, permissions]

################################
## Configure vhosts for sites ##
################################
- name: Configure vhost for domains
  template:
    src: ./templates/vhost.conf.j2
    dest: "/etc/nginx/sites-available/{{ item.url }}"
  loop: "{{ sites }}"
  tags: [nginx]

- name: Enables new site
  file:
    src: "/etc/nginx/sites-available/{{ item.url }}"
    dest: "/etc/nginx/sites-enabled/{{ item.url }}"
    state: link
  loop: "{{ sites }}"
  notify: reload nginx
  tags: [nginx]

- name: Reload Nginx and php
  command: echo "reloads"
  notify:
    - reload php
    - reload nginx
