---

- import_tasks: users.yaml
  tags: [site-system-users]

- import_tasks: php.yaml
  tags: [wordpress-php]

- import_tasks: wordpress.yaml
  tags: [wordpress-setup]

- import_tasks: vhost.yaml
  tags: [wordpress-vhosts]
