---

- name: Configure fpm pools for all the sites
  template:
    src: "./templates/fpm{{ item.php.version }}-pool.conf.j2"
    dest: "/etc/php/{{ item.php.version }}/fpm/pool.d/{{ item.name }}.conf"
  with_items: "{{ sites }}"
  when: item.enabled
  notify: reload php
  tags: [php-pools]
