# http => https
server {
    listen 80;
    listen [::]:80; # IPv6 support
    server_name {{ item.url }};

    root /var/www/{{ item.url }}/www;

    location / {
        return 301 https://$host$request_uri;
        include "globals/hsts.conf";
        include "globals/security-headers.conf";
    }
}

server {
    listen 443 ssl http2;
    listen [::]:443 ssl http2; # IPv6 support

    server_name {{ item.url }};

    {% if env == "dev" %}
    ssl_certificate /etc/ssl/certs/nginx-selfsigned.crt;
    ssl_certificate_key /etc/ssl/private/nginx-selfsigned.pem;
    {% elif env == "prod" %}
    ssl_certificate /etc/letsencrypt/live/{{ item.url }}/fullchain.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{ item.url }}/privkey.pem;
    {% endif %}

    root /var/www/{{ item.url }}/www;
    index index.html index.php;

    access_log /var/www/{{ item.url }}/logs/access.log;
    error_log /var/www/{{ item.url }}/logs/error.log;

    include "globals/restrictions.conf";
    include "globals/assets.conf";
    include "globals/auto-versioning-support.conf";

     location ~ \.php$ {
        fastcgi_pass unix:/var/run/php/php{{ php.version }}-{{ item.name }}-fpm.sock;
        fastcgi_split_path_info ^(.+\.php)(/.*)$;
        if (!-f /www$fastcgi_script_name) { return 404; }

        # Mitigate https://httpoxy.org/ vulnerabilities
        fastcgi_param HTTP_PROXY "";

        include "fastcgi_params";
        {# fastcgi_param  DOCUMENT_ROOT      /var/www/{{ item.url }}/www; #}
        {# fastcgi_param  SCRIPT_FILENAME    $document_root$fastcgi_script_name; #}
        fastcgi_param  SCRIPT_FILENAME    /www$fastcgi_script_name;
        fastcgi_index  index.php;

        include "globals/hsts.conf";
        include "globals/security-headers.conf";
    }

    # include "globals/wp-fastest-cache.conf";  # WP Fastest Cache plugin support
}
