---
# - name: Set a hostname
#   hostname:
#     name: "{{ os_hostname }}"
#   tags: [system]

- name: Set timezone
  timezone:
    name: "{{ os.timezone }}"
  tags: [system]

- name: Installation install software-properties-common
  apt: name=software-properties-common
  tags: [system]

- name: Update apt-get repo and cache
  apt: update_cache=yes force_apt_get=yes cache_valid_time=3600
  tags: [system]

- name: Upgrade all apt packages
  apt: upgrade=dist force_apt_get=yes
  tags: [system]

- name: Install system packages
  apt: 
    name: "{{ item }}"
    state: latest
    update_cache: yes
  loop: "{{ os.packages }}"
  tags: [system]

- name: "Add nginx repo"
  apt_repository:
    repo: "ppa:nginx/stable"
  tags: [system]

- name: "Add Ondrej PHP repo"
  apt_repository:
    repo: "ppa:ondrej/php"
  tags: [system]

# Sudo Group Setup
- name: Make sure we have a 'wheel' group
  group:
    name: wheel
    state: present

- name: Allow 'wheel' group to have passwordless sudo
  lineinfile:
    path: /etc/sudoers
    state: present
    regexp: "^%wheel"
    line: "%wheel ALL=(ALL) NOPASSWD: ALL"
    validate: "/usr/sbin/visudo -cf %s"

# User + Key Setup
- name: Create a new regular user with sudo privileges
  user:
    name: "{{ os.admin_user }}"
    state: present
    groups: wheel
    append: true
    create_home: true
    shell: /bin/bash

# - name: Set authorized key for remote user
#   authorized_key:
#     user: "{{ os.admin_user }}"
#     state: present
#     # key: "{{ copy_local_key }}"

- name: Disable password authentication for root
  lineinfile:
    path: /etc/ssh/sshd_config
    state: present
    regexp: "^#?PermitRootLogin"
    line: "PermitRootLogin prohibit-password"
