---
# - name: Set a hostname
#   hostname:
#     name: "{{ os_hostname }}"
#   tags: [system]

- name: Set timezone
  timezone:
    name: "{{ os.timezone }}"
  tags: [timezone]

- import_tasks: update-packages.yaml
  tags: [apt]

- import_tasks: snaps.yaml
  tags: [snaps]

- import_tasks: users.yaml
  tags: [users]
