---
################################################################################
# PHP Configuration                                                            #
################################################################################
- name: Install PHP Packages
  apt: name={{ item }} update_cache=yes state=latest
  loop:
    # - "php{{ php_version }}"
    - "php{{ php_version }}-apcu"
    - "php{{ php_version }}-cli"
    - "php{{ php_version }}-curl"
    - "php{{ php_version }}-fpm"
    - "php{{ php_version }}-imagick"
    - "php{{ php_version }}-intl"
    # - "php{{ php_version }}-json"
    - "php{{ php_version }}-mbstring"
    - "php{{ php_version }}-mysql"
    - "php{{ php_version }}-xml"
    - "php{{ php_version }}-zip"
  tags: [php]

- name: Remove apache2 installed packages with php
  action: apt pkg={{item}} state=absent purge=yes
  with_items:
    - apache2
    - apache2-bin
    - apache2-data
    - apache2-utils
    - "libapache2-mod-php{{ php_version }}"
  tags: [nginx, apache2]

- name: Copy APCu configuration
  copy:
    src: ./files/apcu.ini
    dest: "/etc/php/{{ php_version }}/mods-available/apcu.ini"
  tags: [php]

- name: Set PHP upload max filesize
  lineinfile:
    dest: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: "^upload_max_filesize"
    line: "upload_max_filesize = 64M"
    state: present
  notify: reload php

- name: Set PHP post max filesize
  lineinfile:
    dest: /etc/php/{{ php_version }}/fpm/php.ini
    regexp: "^post_max_size"
    line: "post_max_size = 64M"
    state: present
  notify: reload php

