---
################################################################################
# PHP Configuration                                                            #
################################################################################
- name: Install PHP Packages
  apt: name={{ item }} update_cache=yes state=latest
  loop:
    - "php{{ php.version }}-apcu"
    - "php{{ php.version }}-cli"
    - "php{{ php.version }}-curl"
    - "php{{ php.version }}-fpm"
    - "php{{ php.version }}-imagick"
    - "php{{ php.version }}-intl"
    - "php{{ php.version }}-mbstring"
    - "php{{ php.version }}-mysql"
    - "php{{ php.version }}-xml"
    - "php{{ php.version }}-zip"
  tags: [php-packages]

- name: Copy APCu configuration
  copy:
    src: ./files/apcu.ini
    dest: "/etc/php/{{ php.version }}/mods-available/apcu.ini"
  tags: [php-apc]

- name: Set PHP upload max filesize
  lineinfile:
    dest: /etc/php/{{ php.version }}/fpm/php.ini
    regexp: "^upload_max_filesize"
    line: "upload_max_filesize = {{ php.upload_max_filesize }}"
    state: present
  notify: reload php
  tags: [php-ini]

- name: Set PHP post max filesize
  lineinfile:
    dest: /etc/php/{{ php.version }}/fpm/php.ini
    regexp: "^post_max_size"
    line: "post_max_size = {{ php.post_max_size }}"
    state: present
  notify: reload php
  tags: [php-ini]

- name: Create new users for sites
  user:
    name: "{{ item.name }}"
    state: present
    groups: "{{ php.user_group }}"
    append: true
    create_home: false
    home: "/var/www/{{ item.name }}"
    # shell: /bin/bash
  loop: "{{ sites }}"
  tags: [php-users]

- name: Configure fpm pools for all the sites
  template:
    src: ./templates/fpm-pool.conf.j2
    dest: "/etc/php/{{ php.version }}/fpm/pool.d/{{ item.name }}.conf"
  with_items: "{{ sites }}"
  tags: [php-pools]

- name: Remove "default" php pool
  file:
    path: "/etc/php/{{ php.version }}/fpm/pool.d/www.conf"
    state: absent
  notify: reload php
